# Ignore compiled class files
*.class

# Ignore generated CSV files (your expenses data)
expenses.csv

# Ignore log or temp files
*.log
*.tmp
*.cache

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore IDE files (VS Code, IntelliJ, Eclipse)
# VS Code
.vscode/

# IntelliJ
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/
bin/
